
.fbutton{
  color: white;
  background: #777777;
  padding: 5px 10px; 
  text-align: center;
  display: inline-block; 
  font-size: 20px; 
  border-radius: 2px;
  margin: auto;
  width: 100%;
  font-family: 'VT323', monospace;
  hiegth: 6px;
  cursor: pointer; 
 }

.fbutton:hover {
  color: black;
  background: green;
  border-radius: 2px;
  transition-delay: 0.2s;
  border-radius: 2px;

}
h4 {
  background-color: #00ffff
}
*{
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
  font-family: 'Varela Round', sans-serif;
    background: #00ffff;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    padding-top: 30px;
}
.main {
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: black;
}
.menu{
  list-style: none; 
    margin:0;
    padding:0;
}
.menu li{
    border-bottom: 1px solid 
}
.menu li a{
    color: white;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
#openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input#openSidebarMenu{
    display: none;
}
.sidebarIconToggle {
  height: 22px;
    width: 22px;
    position: absolute;
    z-index: 99;
    top: 22px;
    left: 15px;
    transition: all 0.3s;
    cursor: pointer; 
}
.spinner {
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}
.spinner.middle ,
.spinner.bottom{
    margin-top: 3px;
color: black
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
    opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}
.header {
    background-color: goldenrod;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
}
.menu li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}




