.fbutton{
  color: goldenrod;
  padding: 10px 15px;
  background: transparent;
  border: 2px solid lightgray;
  border-radius: 20px;
  outline: none;
 }

.fbutton:hover {
  color: red;
  color: goldenrod;
  background: #2196f3;
  border-radius: 12px;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;
  border-radius: 16px;
  box-shadow: 0 12px 16px 0 rgba(74,249,31,1.24), 0 17px 50px 0 rgba(74,249,31,1);

}
body {
  background-color: #00ffff;
}
head {
  background-color: #00ffff
}
h4 {
  background-color: #00ffff
}




